# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Conda
*.conda
.envrc

# Logs
*.log

# Data
data/uploads/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
